<!DOCTYPE html>
<html>
<head>
    <title>Password Breach Checker</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1>Password Breach Checker</h1>
        <form method="post" action="/">
            <label for="password">Enter your password:</label>
            <input type="password" id="password" name="password" required>
                        <!-- By default, HTML input element with type "password" displays
                entered text as dots for privacy -->
            <input type="submit" value="Check Breach">
        </form>
    </div>
</body>
</html>
